{% extends 'base.html' %}
{% load static %}

{% block content %}

{% include 'includes/background_strip.html' %}

<div class="container">
    <div class="row justify-content-center align-items-center" style="height: 40vh;">
        <div class="col-10 col-md-4">
            <div class="card box-shadow">
                <div class="card-body">
                    <form method="post" action="" class="form-floating">
                        {% csrf_token %}
                        {% for f in form %}
                        <div class="mb-3">
                            <label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>
                            {{ f }}
                            <div class="form-error">{{ f.errors }}</div>
                        </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-warning w-50">Save</button>
                    </form>
                </div>
            </div>
        </div>
        <!-- Image column -->
            <div class="col-md-5">
                <img src="{% static 'security.jpg' %}" alt="Security"  class="img-fluid w-75">
            </div>
    </div>
</div>

{% endblock %}