{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
{% include 'includes/background_strip.html' %}

<section class="container-xxl mt-5">
    <div class="row">
        <!-- Image column -->
        <div class="col-md-5">
            <img src="{% static 'activation.jpg' %}" alt="Activation email" class="img-fluid w-75">
        </div>
        <!-- Text column -->
        <div class="col-md-5">
            <br>
            <p>We’ve emailed you instructions for setting your password, if an account exists with the email you
                entered. You should receive them shortly.</p>
            <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and
                check your spam folder.</p>
        </div>

    </div>
</section>

{% endblock %}