{% extends 'base.html' %}
{% load static %}
{% load blog_tags %}
{% load cache %}

{% block content %}
{% include 'includes/background_strip.html' %}

{% if not user.is_authenticated %}
<!--Sing up form-->
<div class="container col-xl-8 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
        <div class="col-lg-7 text-center text-lg-start">
            <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">Attract. Nurture. Convert.</h1>
            <p class="col-lg-10 fs-4">Simplify your journey to success – from capturing leads to turning them into loyal
                customers, we’re here to do the heavy lifting.</p>
            <p class="col-lg-10 fs-4">Get started now!</p>
        </div>
        <div class="col-md-10 mx-auto col-lg-5">
            <form method="post" action="" class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
                {% csrf_token %}
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"
                           name="email">
                    <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password"
                           name="password1">
                    <label for="floatingPassword">Password</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingConfirm password" placeholder="Confirm password"
                           name="password2">
                    <label for="floatingPassword">Password</label>
                </div>
                <button class="w-100 btn btn-lg btn-warning" type="submit">Sign up</button>
                <hr class="my-4">
                <small class="text-body-secondary">By clicking Sign up, you agree to the terms of use.</small>
            </form>
        </div>
    </div>
</div>
{% endif %}

{% if user.is_authenticated %}
{% cache 60 statistics %}
<!-- Table -->
<div class="container col-xl-8 col-xxl-8 px-4 py-5">
    <table class="table table-bordered border-success text-center">
        <thead>
        <tr>
            <th colspan="4" class="bg-success text-white fs-5">Mailing Statistics</th>
        </tr>
        <tr>
            <th scope="col">Total Campaigns</th>
            <th scope="col">Active Campaigns</th>
            <th scope="col">Customer Base</th>
            <th scope="col">Segmentation</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="text-success fw-bold">{{ total_campaigns }}</td>
            <td class="text-success fw-bold">{{ active_campaigns }}</td>
            <td class="text-success fw-bold">{{ total_clients }}</td>
            <td class="text-success fw-bold">{{ unique_tags_count }}</td>
        </tr>
        <tr>
            <td colspan="2"><a href="{% url 'campaign_list' %}" class="text-success fw-bold">To Campaigns</a></td>
            <td colspan="2"><a href="{% url 'client_list' %}" class="text-success fw-bold">To Customer Base</a></td>
        </tr>
        </tbody>
    </table>
</div>

{% endcache %}
{% endif %}

<!--Random articles-->
<div class="col-11 mx-auto d-flex justify-content-center">
    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
        {% for article in random_articles %}
        <div class="col">
            <a href="{% url 'view' slug=article.slug %}" style="text-decoration: none;">
                <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                     style="background-image: url('{% imagepath_tag article.image %}'); background-size: contain;
                     background-repeat: no-repeat; background-position: center; opacity: 0.7;">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-black text-shadow-1">
                        <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">{{ article.title }}</h3>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

<br><br>

{% endblock %}